name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v6

      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: gradle

      - name: Test
        run: sh ./gradlew check --info

      - name: Publish test results
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Gradle Tests
          path: build/test-results/test/*.xml
          reporter: java-junit